:root {
	--color-one: rgb(255, 220, 48);
	--color-two: rgb(97, 202, 255);
	--color-three: rgb(200, 118, 255);
	--home-color: rgb(255, 247, 234);
	--footer-color: rgb(246, 232, 255);
}

li {
	list-style: none !important;
}

.colorOne {
	color: var(--color-one);
}

.colorTwo {
	color: var(--color-two);
}

.colorThree {
	color: var(--color-three);
}

.bgOne {
	background-color: var(--color-one);
}

.bgTwo {
	background-color: var(--color-two);
}

.bgThree {
	background-color: var(--color-three);
}
