:root {
	--lostPetsFilter-color: rgb(234, 234, 234);
}

.lostPetsFilter {
	width: 200px;
	background-color: var(--lostPetsFilter-color);
	border-radius: 20px;
	height: 400px;
}

.lostPetsBox {
	width: auto;
}

.addLostPetCard {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 15rem;
	min-width: 10rem;
	min-height: 100px;
}
