/* .dropdown-menu[data-bs-popper] {
	top: 100%;
	left: auto !important;
	right: 0%;
	margin-top: var(--bs-dropdown-spacer);
} */

a {
	text-decoration: none;
}

.nav-item {
	text-decoration: none;
}

.nav-item:hover {
	color: grey;
}

.navColor {
	background-color: var(--home-color) !important;
}

.nav-item {
	font-size: 1.2rem !important;
}
.userOptionsDiv:hover {
	color: green;
}

.dropdown-item {
	background-color: transparent !important;
}

.navElement1 {
	order: 1;
}

.navElement2 {
	order: 2;
}

.navElement2 .dropdown-menu[data-bs-popper] {
	top: 100%;
	left: auto !important;
	right: 0%;
	margin-top: var(--bs-dropdown-spacer);
}

.navElement3 {
	order: 3;
}

.navElement3 .dropdown-menu[data-bs-popper] {
	top: 100%;
	left: auto !important;
	right: 0%;
	margin-top: var(--bs-dropdown-spacer);
}

.navElement4 {
	order: 4;
}

@media (max-width: 767px) {
	.navElement1 {
		order: 2;
	}

	.navElement2 {
		order: 4;
	}

	.navElement2 .dropdown-menu[data-bs-popper] {
		position: relative;
	}

	.navElement3 {
		order: 3;
	}

	.navElement4 {
		order: 1;
	}
}
