.petButtonHome {
	width: 28vw;
	margin: 2vw;
	max-width: 180px;
	height: 28vw;
	max-height: 180px;
	border-radius: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	text-decoration: none !important;
	font-size: 1.5rem;
}

.petButtonHome:hover {
	transform: scale(1.1);
}

.lostPetsBtnHome {
	background-color: var(--color-one);
}

.shelteredPetsBtnHome {
	background-color: var(--color-two);
}

.adoptionPetsBtnHome {
	background-color: var(--color-three);
}

@media (max-width: 576px) {
	.petButtonHome {
		font-size: 1rem;
	}
}
